# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1. Phyton
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. Jupyter Notebook
    3. NumPy

| Data Science Tools  |
|---------------------|
| JupyterLab | 
| Anaconda | 
| VS Code |

## Below are a few examples of evaluating arithmetic expressions in Python
11*11

This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [18]:
200/60/1

3.3333333333333335

## Objectives:

List popular languages for Data Science
<ul> 
    <li>Phyton</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
    <li>Scala</li>
</ul>

## Author
Naomi Hurayah Aden